<app-loader *ngIf="IsSpinner"></app-loader>

<section class="mx-auto calender" id="calender" *ngIf="!IsSpinner">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Calender</h2>
    <p>Our Calender shows the classes in days and also you can reserve through it</p>
  </div>
  <!-- End Section Title -->

  <div class="calendar-wrapper">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</section>


<!-- save reservatiopn pop up -->

<div class="modal fade" id="OpenReservationModal" tabindex="-1" role="dialog"
  aria-labelledby="OpenReservationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="OpenReservationModalLabel">Save Reservation</h5>
      </div>
      <div class="modal-body">
        <div class="col-md-12 ">
          <label class="my-2">{{ "ID"  }} <i class="bi bi-asterisk text-danger mx-2"></i></label>
          <input type="text" class="form-control my-2" [(ngModel)]="Reservation.MemberId">
         
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark mx-2" data-dismiss="modal" (click)="closeReservation()">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveReservation()" [disabled]="Reservation.MemberId == 0">Save changes</button>
      </div>
    </div>
  </div>
</div>