<div
  class="modal fade"
  data-bs-backdrop="static"
  id="addUserMenuModal"
  aria-labelledby="addUserModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content border-0 rounded-4 shadow-sm">
      <div class="modal-header d-flex justify-content-between">
        <h5 class="modal-title" id="addUserModalLabel">
          {{ "AddUserMenu" | translate }}
        </h5>
        <button
          type="button"
          class="btn-close m-0"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="cancel()"
        ></button>
      </div>

      <div class="modal-body">
        <div class="add-user-menu-container">
          <div class="card">
            <div class="card-header">
              <h4>{{ "ManageUserMenus" | translate }}</h4>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label>{{ "SelectMenus" | translate }}</label>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-select [(ngModel)]="selectedMenus" multiple>
                    <mat-option *ngFor="let menu of systemMenus" [value]="menu.Id">
                      {{ menu.DisplayName |translate }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- Display current selections -->
              <div *ngIf="selectedMenus.length > 0">
                <h5 class="my-3">{{ "SelectedMenus" | translate }}</h5>
                <div class="selected-menus-container">
                  <span
                    *ngFor="let menuId of selectedMenus"
                    class="badge bg-primary me-2 mb-2"
                  >
                    {{ getMenuName(menuId) |translate }}
                    <i
                      class="bi bi-x-circle ms-2"
                      (click)="removeMenu(menuId)"
                    ></i>
                  </span>
                </div>
              </div>

              <div class="text-right mt-3">
                <button class="btn btn-secondary mx-2" (click)="cancel()">
                  {{ "Cancel" | translate }}
                </button>
                <button class="btn btn-primary" (click)="saveUserMenus()">
                  {{ "SaveMenus" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
