<div class="modal fade" id="addUserMenuModal" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content border-0 rounded-4 shadow-sm">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">
                    {{ 'Add User Menu' }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="cancel()"></button>
            </div>

            <div class="modal-body">
                <div class="add-user-menu-container">
                    <div class="card">
                        <div class="card-header">
                            <h4>Manage User Menus</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Select Menus</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-select [(ngModel)]="selectedMenus" multiple>
                                        <mat-option *ngFor="let menu of systemMenus" [value]="menu.Id">
                                            {{ menu.DisplayName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <!-- Display current selections -->
                            <div *ngIf="selectedMenus.length > 0" class="">
                                <h5  class="my-3">Selected Menus:</h5>
                                <div class="selected-menus-container">
                                    <span *ngFor="let menuId of selectedMenus" class="badge bg-primary me-2 mb-2">
                                        {{ getMenuName(menuId) }}
                                        <i class="bi bi-x-circle ms-2" (click)="removeMenu(menuId)"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="text-right mt-3">
                                  <button class="btn btn-secondary mx-2" (click)="cancel()">
                                    Cancel
                                </button>
                                <button class="btn btn-primary" (click)="saveUserMenus()">
                                    Save Menus
                                </button>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>