<div *ngIf="isSpinner">
  <app-loader></app-loader>
</div>

<div *ngIf="!isSpinner">
  <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
    <h3>{{ "Reservations" | translate }}</h3>
    <div class="d-flex gap-3 align-items-center flex-wrap my-2">
      <button
        class="btn btn-primary d-flex align-items-center gap-1"
        (click)="openAddReservation()"
      >
        <i class="bi bi-plus-lg"></i> {{ "AddReservation" | translate }}
      </button>
    </div>
  </div>

  <!-- Search Input -->
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="input-group d-flex align-items-center" [dir]="'ltr'">
        <span class="input-group-text">
          <i class="bi bi-search"></i>
        </span>
        <input
          type="text"
          class="form-control"
          [placeholder]="'SearchReservations' | translate"
          [(ngModel)]="searchTerm"
          (input)="onSearch()"
        />
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ "ClassName" | translate }}</th>
          <th>{{ "MemberID" | translate }}</th>
          <th>{{ "MemberName" | translate }}</th>
          <th>{{ "Trainer" | translate }}</th>
          <th class="text-end">{{ "Actions" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of filteredReservations">
          <td>{{ u.Id }}</td>
          <td>{{ u.ClassName }}</td>
          <td>{{ u.MemberID }}</td>
          <td>{{ u.MemberName }}</td>
          <td>{{ u.TrainerName }}</td>
          <td class="text-end">
            <button
              class="btn btn-sm btn-outline-secondary me-1 iconButton"
              matTooltip="{{ 'Edit' | translate }}"
              (click)="openAddReservation(u)"
            >
              <i class="bi bi-pencil"></i>
            </button>
            <button
              class="btn btn-sm btn-outline-danger iconButton"
              matTooltip="{{ 'Delete' | translate }}"
              (click)="deleteReservation(u.Id)"
            >
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf="filteredReservations.length === 0">
          <td colspan="7" class="text-center">
            {{ "NoReservationsFound" | translate }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Page size selector -->
  <div class="d-flex justify-content-between align-items-center py-3">
    <div class="d-flex align-items-center my-3">
      <mat-form-field appearance="outline">
        <mat-label class="text-primary">
          {{ "ItemsPerPage" | translate }}
        </mat-label>
        <mat-select
          [(value)]="pageSize"
          (selectionChange)="onPageSizeChange()"
          panelClass="page-size-panel"
        >
          <mat-option *ngFor="let size of pageSizeOptions" [value]="size">
            {{ size }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="text-muted">
      {{ (currentPage - 1) * pageSize + 1 }} {{ "To" | translate }}
      {{ getShowingTo() }} {{ "Of" | translate }} {{ totalCount }}
      {{ "Reservations" | translate }}
    </div>
  </div>
</div>

<!-- Add/Edit Reservation Form -->
<app-add-reservation
  *ngIf="isAddReservation"
  [Reservation]="selectedReservation"
  (closeAddReservationModal)="closeAddReservationModal()"
>
</app-add-reservation>
