<!-- About Section -->
<section id="about" class="about section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>About Us</h2>
    <p>We are here to help you achieve your fitness goals with flexible subscriptions, expert trainers, and a supportive
      community.</p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row justify-content-center h-auto">
      <div class="col-lg-4">
        <img src="assets/images/logo.jpg" class="img-fluid rounded-4 shadow" alt="Our Gym Logo">
      </div>
      <div class="col-lg-8">
        <h2>Fitness. Coaching. Motivation.</h2>
        <p class="fst-italic py-3">
          Your health is our priority. We believe that fitness is not just about working out, but about building a
          lifestyle that empowers you every day.
        </p>

        <p class="py-3">
          With us, you get more than a subscription. You get access to top-notch classes, personalized follow-up with
          professional coaches, and the flexibility to book easily online or through our team. Our mission is to provide
          a positive, motivating, and results-driven environment for every member.
        </p>
      </div>
    </div>

  </div>
</section><!-- /About Section -->

<!-- Stats Section -->
<section class="stats section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Achievements</h2>
    <p>Trusted by hundreds of clients, guided by the best coaches, and growing stronger every day.</p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">

      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span data-purecounter-start="0" [attr.data-purecounter-end]="CurrentState?.TotalMembers"
            data-purecounter-duration="1" class="purecounter"></span>
          <p>Active Members</p>
        </div>
      </div><!-- End Stats Item -->

      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span attr.data-purecounter-start="0" [attr.data-purecounter-end]="CurrentState?.TotalClasses"
            attr.data-purecounter-duration="1" class="purecounter">
          </span>
          <p>Classes</p>
        </div>
      </div><!-- End Stats Item -->

      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span data-purecounter-start="0" [attr.data-purecounter-end]="CurrentState?.TotalSubscriptions"
            data-purecounter-duration="1" class="purecounter"></span>
          <p>Our Subscriptions</p>
        </div>
      </div><!-- End Stats Item -->

      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span data-purecounter-start="0" [attr.data-purecounter-end]="CurrentState?.TotalTrainers" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Professional Trainers</p>
        </div>
      </div><!-- End Stats Item -->

    </div>
  </div>
</section><!-- /Stats Section -->