.form-control {
    margin: 10px 0px;
}

.form-check .form-check-input {

    width: 20px;
    height: 20px;
    margin-right: 10px;
}

::placeholder {
    color: #87818166 !important; // Pick your color
    opacity: 1; // Bootstrap sometimes lowers opacity
}


.mat-select-panel {

    background: #edf0f4;
    margin: 45px 0px;

}

.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
    background: rgb(221, 0, 92);
}

.mat-option-text {

    color: black;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 1px;
    background: rgb(221, 0, 92) !important;
}

.mat-select-arrow {
    color: rgb(221, 0, 92);
}

.mat-form-field-infix {

    width: 25vw !important;
}

/* Change the outline color when focused */
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgb(221, 0, 92) !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    border-color: rgb(221, 0, 92) !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 5px !important;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border: 0px;
    outline: none !important;
    box-shadow: 0 0 5px 1px rgba(221, 0, 92, 0.25) !important;
}