.dropdown-menu.show {
  display: block;
  padding: 15px !important;
  border: 1px solid #da6a7d45;
  margin: 8px 0px;
}

.mat-drawer.sidebarNav {
  width: 260px;
  flex-shrink: 0;
  transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: absolute;
  overflow-x: hidden;
  border-right-width: 0;
  background: #f8f9fa;
  margin: 15px 5px;
  border-radius: 15px;
  box-shadow: 0px 0px 9px 1px rgb(221 0 92 / 22%);
}


.navbar {
  background: #f8f9fa !important;
  margin: 15px !important;
  border-radius: 15px;
  box-shadow: 0px 0px 9px 1px rgb(221 0 92 / 22%) !important;
}

.mat-nav-list a {
  margin: 25px 10px;
  border-radius: 10px;
  transition: all .25s;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
}

.mat-nav-list a:hover {

  background-color: var(--mat-sys-primary) !important;
  color: white !important;
}

.mat-drawer.mat-drawer-side {
  z-index: 1 !important;
}


.form-select {
    box-shadow: 0px 0px 9px 1px rgb(221 0 92 / 22%) !important;

}

// .mat-select-panel:not([class*=mat-elevation-z]){
//     position: absolute !important;
//     top: 45px !important;
// }
.page-size-panel {
  position: absolute !important;
  top: 45px !important;
}
