<div *ngIf="isSpinner">
  <app-loader></app-loader>
</div>

<div *ngIf="!isSpinner">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Users</h3>
    <button class="btn btn-primary d-flex align-items-center gap-1" (click)="openAddUser()">
      <i class="bi bi-plus-lg"></i> Add User
    </button>
  </div>

  
<div class="table-responsive">

  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>First</th>
        <th>Last</th>
        <th>Email</th>
        <th class="text-end">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <td>{{ u.Id }}</td>
        <td>{{ u.FName }}</td>
        <td>{{ u.LName }}</td>
        <td>{{ u.Email }}</td>
        <td class="text-end">
          <button class="btn btn-sm btn-outline-info iconButton"  matTooltip="mrnus"  (click)="openAddUserMenu(u.Id)">
            <i class="bi bi-menu-down"></i>
          </button>
          <button class="btn btn-sm btn-outline-secondary me-1 iconButton"  matTooltip="edit"  (click)="openAddUser(u)">
            <i class="bi bi-pencil"></i>
          </button>
          <button class="btn btn-sm btn-outline-danger iconButton"   matTooltip="delete"  (click)="deleteUser(u.Id)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      <tr *ngIf="users.length === 0">
        <td colspan="5" class="text-center">No users found</td>
      </tr>
    </tbody>
  </table>
</div>
 <!-- Page size selector -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex align-items-center">
      <label for="pageSize" class="me-2" style="width: 450px;">Items per page:</label>
      <select id="pageSize" class="form-select form-select-sm" [(ngModel)]="pageSize" (change)="onPageSizeChange()">
        <option *ngFor="let size of pageSizeOptions" [value]="size">{{size}}</option>
      </select>
    </div>
    <div class="text-muted">
      {{ (currentPage - 1) * pageSize + 1 }} to {{ getShowingTo() }} of {{ totalCount }} users
    </div>
  </div>
</div>

<!-- Add/Edit User Form -->
<app-add-user *ngIf="isAddUser" [user]="selectedUser" (closeAddUserModal)="closeAddUserModal()">
</app-add-user>

<app-add-user-menu *ngIf="isAddUserMenu" [userId]="selectedUserId" (menusSaved)="closeAddUserMenuModal()">
</app-add-user-menu>